@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Poppins:wght@400;500;900&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';


// Light Mode
$lightMode: linear-gradient(90deg, #cfd9df  , #e2ebf0);
$darkText: #323232;

// Dark Mode
$darkMode: linear-gradient(90deg, #434343, #000000);
$lightText: #f7f7f7;

@mixin lightTheme {
  background: $lightMode;
  color: $darkText;

  #logo {
    p {
      color: $darkText
    }
  }

}

@mixin darkTheme {
  background: $darkMode;
  color: $lightText;

  #logo {
    p {
      color: $lightText
    }
  }

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  min-height: 100vh;
  @include lightTheme();

  &.dark {
    @include darkTheme;
  }

  &.light {
    @include lightTheme;
  }

  a {
    color: #323232;
    text-decoration: none;
    margin-right: 1.5rem;

  }

  // Navigation

  #logo {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 35px;
    display: flex;
  }

  .sidebar {
    @media screen and (max-width: 900px){
      background-image: $lightMode;
    }
    .nav-link {
      font-weight: 500;
    }
  }

  .sidebar-display {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    line-height: 3rem;
    align-items: center;
    text-align: center;
    margin: auto;
    min-height: 50vh;

    
  }

  .inquire-btn {
    vertical-align: middle;
  }

  // Footer 
  .footer {
    z-index: -1000;
  }


  // Home Page
  #home-description {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    margin-top: 6.75rem;

    @media screen and (max-width: 900px){
      margin-top: 3rem;
    }
  }
  #homepage {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 5rem;

    .headline {
      h1 {
        font-weight: 700;
        text-shadow: 1px 1px 1px #323232;
      }
    }

    #headline-text {
      font-weight: 600;
      font-size: calc(0.25vw + 1.75vh)
    }

    .avatar-img {
      display: block;
      background-image: url('./assets/avatar_profile.jpg');
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      width: 150px;
      height: 150px;
    }

    .icons {
      list-style: none;
      display: flex;
      justify-content: center;

    }
  }

  // About Page
  #about-page {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: auto;
    min-height: 50vh;
  }


  // Contact Page {
  #contact {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    .contact-icons {
      list-style: none;

      .contact-icon {
        font-weight: 500;
      }
    }

    p {
      font-style: italic;
      font-weight: bold;
    }

    #contact-form textarea {
      resize: none;
    }
  }
  // Blog Details Page

  #blog-detail {
    p {
      text-align: justify;
      font-weight: 400;
      line-height: 1.75rem;
    }
  }

  // Project Page 

  .project-container {
    overflow: scroll;
    height: 75vh;
    overflow-x: hidden;
    scroll-behavior: smooth;


    #projBtn {
      display: flex;
      align-self: center !important;
    }
  }
  // Project Details 
  #proj-detail {
    p {
      text-align: justify;
    }
  }

  // Testimonial Page


  // Blog Page



  // Loader

  #loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;

    p {
      font-size: 2rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;

      @media screen and (max-width: 900px){
        font-size: 1rem;
      }
    }
  }
}
