@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&family=Poppins:wght@400;500;900&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";

// Variables
$font-main: "Karla", sans-serif;
$font-heading: "Poppins", sans-serif;
$font-mono: "Courier New", Courier, monospace;

$light-bg: linear-gradient(90deg, #fff, #f3f3f3, #e2ebf0);
$dark-bg: linear-gradient(90deg, #323232, #000000);

$dark-color: #323232;
$light-color: #f7f7f7;

// Mixins
@mixin theme($bg, $color) {
  background: $bg;
  color: $color;
}

.bold {
  font-weight: 600;
}

// Body Styling
body {
  position: relative;
  z-index: 0;
  color: $dark-color;
  transition: color 0.3s ease;

  &::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background: $light-bg;
    transition: background 0.5s ease;
  }

  &.dark {
    color: $light-color;

    &::before {
      background: $dark-bg;
    }
  }

  a {
    color: $dark-color;
    text-decoration: none;
    margin-right: 1.5rem;
  }
  h1 {
    font-family: $font-heading;
    font-weight: 500;
    text-shadow: #323232;
  }

  h2 {
    font-family: $font-heading;
    font-weight: 500;
  }

  li {
    list-style: none;
  }

  .App {
    max-height: 100vh;
    margin: auto;
  }

  .logo {
    font-family: $font-heading;
    font-weight: 600;
    font-size: 26px;
  }

  .sidebar .nav-link {
    font-weight: 500;
    transition: 0.2s ease-in;

    &:hover {
      font-weight: 600;
      color: #0d6efd;
    }
  }

  #headline-text {
    font-weight: 600;
    font-size: calc(0.25vw + 1.75vh);
    font-family: "Courier New", Courier, monospace;
  }

  .avatar {
    display: flex;
    justify-content: center;

    .avatar-img {
      display: block;
      background-image: url("/assets/avatar-2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      outline: 3px solid #5c5c5c;
      border: 2px solid #f3f3f3;
      border-radius: 50%;

      width: 150px;
      height: 150px;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-image: url("/assets/avatar_profile.jpg");
        transform: rotateY(360deg);
        transition: all 0.3s ease-in-out;
      }
    }
  }

  @media (max-width: 800px){
    .dark {
      background: $dark-bg;
      
    }
    .light {
      background: $light-bg;
      
    }
  }

  // Example of simplified responsive styles
  .footer {
    @media (max-width: 800px) {
      position: relative;
    }
  }
}
